<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Browser Satck">
	<!-- suite name="Suite Name" -->
<test name="BrowserSatck" allow-return-values="true">
		<classes>
			<!-- packagename.Testcase class name -->
			<class name="com.extramarks.test.BrowserStack" />
		</classes>
	</test>
</suite>